{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "standard-with-typescript",
    "standard-jsx",
    "standard-react",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["unicorn"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "unicorn/no-abusive-eslint-disable": "error",
    "no-console": "warn",
    "@typescript-eslint/consistent-type-definitions": "off"
  },
  "globals": {
    "fetch": false
  },
  "env": {
    "jest": true
  }
}
