name: CI

on: push

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '16.20'

      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run Prettier
        run: yarn format:check

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '16.20'

      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run ESLint
        run: yarn lint:check

  types:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '16.20'

      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run Typescript
        run: yarn types:check

  test-unit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '16.20'

      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run Jest
        run: yarn test:unit
